h1{
text-align: center;
}
.countre{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #ffffff;
    flex-direction: column;
    color: orange;

}
.gr{
    color: green;
}
button{
    margin: 6px;
    padding: 2px;
    gap: 6px;
    width: auto;
}